<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alist2ens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ber_sim.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dat2alist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>de_sim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ens2deg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>reuse_vec_opt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5113BAF1E43A29800A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5113BD51E43B7A900A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5113BD91E43B7CE00A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D521D7901CD21A0400A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52CABEE1C7B446900A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D549C60A1FD09C3F00A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54F8D1B1C8DD56800A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D556DB3A1D3D1E7300A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58091911D2D5FF400A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BBBBE61D104E9800A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C49F1B1CEDD76E00A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E391D41FD16E0800A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E391E71FD1919400A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E391F81FD1939600A4FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
